* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.container {
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/*                      SIDEBAR SECTION                                   */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: 1fr 2fr 10fr;
    gap: 20px;
    background-color: #a8d4b1;
}

.brandbox {
    grid-row: 1 / 2;
}

.brandbox .logo {
    display: grid;
    justify-content: center;
}

.logo img {
    height: 25px;
}

.brandbox img {
    height: 75px;
}

.brandbox .text {
    display: grid;
    justify-content: start;
    grid-column: 2;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
}

.brandbox,
.sidebar a {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding-top: 10px;
}

a .logo {
    display: grid;
    justify-content: end;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: start;
}

.navigationtop {
    grid-row: 2 / 3;
}

.navigationbottom {
    grid-row: 3 / 4;
    gap: 5px;
}

.sidebar a:hover {
    transform: scale(1.1);
}


/*                         HEADER SECTION                                 */

.header {
    background-color: #c8ffd3;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: sticky;
}

.topRow {
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.searchBar {
    grid-column: 1 / 2;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    border-radius: 20px;
}

button img {
    height: 100%;
}

.searchBar input,
.searchBar button {
    height: 30px;
    border:0;
    background-color: transparent;
    border-radius: 20px;
}

.searchBar input {
    padding-left: 10px;
    font-size: 1.1rem;
    outline: 0;
}

.searchBar {
    margin-right: 10px;
}

.buttons {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 3fr;
}

.buttons img {
    height: 40px;
}

.odin {
    font-size: 1.3rem;
    font-weight: bold;
}

.bottomRow {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr repeat(3, 1.5fr);
    gap: 20px;
    padding: 0px 40px 0px 40px;
}

.bottomRow button {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 0;
    background-color: #95bc9d;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.bottomRow button:hover {
    background-color: #334236;
    color: white;
}

.bottomRow img {
    height: 90px;
}

.titleText {
    font-size: 2rem;
    font-weight: bold;
}

.mainContent {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    background-color: #eeffee;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: scroll;
    padding: 0px 20px 0px 20px;
    gap: 20px;
}

.projectsContainer {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 30px;
}

.projectCard {
    border-radius: 20px;
    border: solid black 1px;
    width: 100%;
    aspect-ratio: 3 / 2;
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    column-gap: 10px;
}

.projectCard .image {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
}

.cardTitle,
.tag {
    display: grid;
    align-items: center;
    font-weight: bold;
}

.cardTitle {
    font-size: 1.3rem;
}

.tag {
    text-align: end;
    font-size: 1rem;
    grid-column: 2 / 4;

}

.description {
    padding-top: 10px;
    display: grid;
    align-items: center;
    font-size: 1.1rem;
}

.liveButton,
.githubButton {
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.liveButton {
    background-image: url(./images/liveIcon.png);
}

.githubButton {
    background-image: url(./images/githubLogo.png);
}

#signupForm .image {
    background-image: url(./images/signupformProject.png);
}

#calculator .image {
    background-image: url(./images/calculatorProject.png);
}

#etchASketch .image {
    background-image: url(./images/etchasketchProject.png);
}

#processor .image {
    background-image: url(./images/processorProject.png);
}

#dualbuckPCB .image {
    background-image: url(./images/dualbuckProject.png);
}

#robotArm .image {
    background-image: url(./images/robotarmProject.png);
}

#rockPaperScissors .image {
    background-image: url(./images/rpsProject.png);
}

#landingPage .image {
    background-image: url(./images/LandingPageProject.png);
}

#odinRecipes .image {
    background-image: url(./images/recipeProject.png);
}

#alarmClock .image {
    background-image: url(./images/alarmclockProject.jpg);
}

#cordicFSM .image {
    background-image: url(./images/cordicFSMProject.png);
}

.exercisesContainer {
    min-width: 240px;
}

.jsExercisesContainer {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
}

.jsExercises,
.cssExercises {
    border: solid black 1px;
    border-radius: 20px;
}

.cssExercisesContainer {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 20px 0px 0px 10px;
}

.exercise {
    min-height: 40px;
    display: block;
    box-sizing: border-box;
    border-bottom: dashed black 1px;
    margin: 20px 20px 0px 20px;
}

.exercise:last-child {
    border: 0;
}