* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
}

.container {
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/*                      SIDEBAR SECTION                                   */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: 1fr 2fr 10fr;
    gap: 20px;
    background-color: #a8d4b1;
}

.brandbox {
    grid-row: 1 / 2;
}

.brandbox .logo {
    display: grid;
    justify-content: center;
    padding-left: 10px;
}

.logo img {
    height: 25px;
}

.brandbox img {
    height: 75px;
}

.brandbox .text {
    display: grid;
    justify-content: start;
    grid-column: 2;
    font-size: 1.6rem;
    color: black;
    font-weight: bold;
}

.brandbox,
.sidebar a {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding-top: 10px;
}

a .logo {
    display: grid;
    justify-content: end;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-align: start;
}

.navigationtop {
    grid-row: 2 / 3;
}

.navigationbottom {
    grid-row: 3 / 4;
    gap: 5px;
}

.sidebar a:hover {
    transform: scale(1.1);
}

a.brandbox:hover {
    transform: scale(1);
}


/*                         HEADER SECTION                                 */

.header {
    background-color: #c8ffd3;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: sticky;
}

.topRow {
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.searchBar {
    grid-column: 1 / 2;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 20fr;
    align-items: center;
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    border-radius: 20px;
}

button img {
    height: 100%;
}

.searchBar input,
.searchBar button {
    height: 30px;
    border:0;
    background-color: transparent;
    border-radius: 20px;
}

.searchBar input {
    padding-left: 10px;
    font-size: 1.1rem;
    outline: 0;
}

.searchBar {
    margin-right: 10px;
}

.buttons {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 3fr;
}

.buttons img {
    height: 40px;
}

.odin {
    font-size: 1.3rem;
    font-weight: bold;
}

.bottomRow {
    grid-row: 2 / 3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr repeat(3, 1.5fr);
    gap: 20px;
    padding: 0px 40px 0px 40px;
}

.bottomRow button {
    min-width: 100px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 0;
    background-color: #95bc9d;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.bottomRow button:hover {
    background-color: #334236;
    color: white;
}

.bottomRow img {
    height: 90px;
}

.titleText {
    font-size: 2rem;
    font-weight: bold;
}

/*                              Main section                            */

.mainContent {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    background-color: #eeffee;
    display: grid;
    overflow-y: scroll;
    padding: 0px 20px 0px 20px;
    grid-template-rows: 60px calc(100% - 60px);
}

.topRowContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.bookButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.addBookButton img{
    height: 30px;
    cursor: pointer;
}

.addBookButton img:hover {
    transform: scale(1.1);
}

.removeBookButton img{
    height: 30px;
    cursor: pointer;
}

.removeBookButton img:hover {
    transform: scale(1.1);
}

.booksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.bookCard {
    border-radius: 20px;
    border: solid black 1px;
    width: 100%;
    height: 300px;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    column-gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #dbffe2;
}

.bookCard:hover {
    transform: scale(1.025);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 0px 10px 10px;
}

.field {
    font-size: 1.3rem;
    text-align: center;
}

.value {
    text-align: center;
}

.value:after,
.error:after {
    content: " ";
    white-space: pre;
}

.error {
    color: red;
    text-align: center;
}

dialog {
    left: 40%;
    top: 40%;
    padding: 30px 30px 30px 30px;
    border-radius: 20px;
}

.modalTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.readRow,
.dialogRow {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.readRow {
    flex-direction: row;
    justify-content: center;
}

.dialogRow {
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.3rem;
}

form button {
    margin-top: 20px;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background-color: #95bc9d;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

form button:hover {
    background-color: #334236;
    color: white;
}

form input {
    height: 24px;
    text-align: center;
    font-size: 1.1rem;
}

.readRow input {
    width: 24px;
    accent-color: #334236;
    margin-left: 10px;
}

.modal {
    background-color: #ddffe4;
}

#read,
#notRead {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#read {
    background-color: #95bc9d;
}

#notRead {
    background-color: #334236;
    color: white;
}

#numPagesInput {
    padding-left: 15px;
    width: 211px;
}